* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
}
.click {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: gray;
    z-index: 999;
    padding: 10px;
    position: fixed;
}
.click.hidden {
    opacity: 0;
    width: 0px;
    height: 0px;
    display: none;
    visibility: hidden;
}
.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}
.canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(2px) contrast(10);
}
.audio {
    width: 0px;
    height: 0px;
    display: none;
}
